In [0]:
import torch

import numpy as np

import torch.nn as nn
from torch.nn import functional
from torch.autograd import Variable

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score

import pandas as pd

In [0]:
iris_df = pd.read_csv('https://raw.githubusercontent.com/mark-andrews/pdms02/master/data/iris.csv')

In [0]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [0]:
class NN(nn.Module):

  # constructor/initializer 
  def __init__(self):

    # call parent's contructor
    super(NN, self).__init__()

    self.W1 = nn.Linear(4, 2)
    self.W2 = nn.Linear(2, 3)

    self.softmax = nn.Softmax(dim=1)

  def forward(self, X):

    X = functional.relu(self.W1(X))
    X = self.W2(X)

    X = self.softmax(X)

    return X

In [0]:
species_rename = {'Iris-setosa': 0,
                  'Iris-versicolor': 1,
                  'Iris-virginica': 2}

In [0]:
species_rename['Iris-setosa']

0

In [0]:
iris_df = iris_df.assign(target = list(map(species_rename.get, iris_df.species)))

In [0]:
train_X, test_X, train_y, test_y = train_test_split(iris_df.iloc[:,0:4].values,
                                                    iris_df.target.values,
                                                    test_size = 0.2)

In [0]:
train_X = Variable(torch.Tensor(train_X).float().cuda())
test_X = Variable(torch.Tensor(test_X).float().cuda())
train_y = Variable(torch.Tensor(train_y).long().cuda())
test_y = Variable(torch.Tensor(test_y).long().cuda())

In [0]:
criterion = nn.CrossEntropyLoss()

In [0]:
neuralnet = NN()
neuralnet.cuda()

optimizer = torch.optim.SGD(neuralnet.parameters(), lr=0.01)

for i in range(10000):
  optimizer.zero_grad()
  output = neuralnet(train_X)
  error = criterion(output, train_y)
  error.backward()
  optimizer.step()

  if i % 500 == 0:
    print('Iteration {0}: error = {1:.3f}'.format(i, error.data))

Iteration 0: error = 1.173
Iteration 500: error = 1.054
Iteration 1000: error = 0.949
Iteration 1500: error = 0.902
Iteration 2000: error = 0.870
Iteration 2500: error = 0.847
Iteration 3000: error = 0.831
Iteration 3500: error = 0.818
Iteration 4000: error = 0.808
Iteration 4500: error = 0.798
Iteration 5000: error = 0.788
Iteration 5500: error = 0.779
Iteration 6000: error = 0.770
Iteration 6500: error = 0.761
Iteration 7000: error = 0.753
Iteration 7500: error = 0.744
Iteration 8000: error = 0.736
Iteration 8500: error = 0.729
Iteration 9000: error = 0.722
Iteration 9500: error = 0.715

In [0]:
predictions = neuralnet(test_X)

In [0]:
_, predicted_y = torch.max(predictions, 1)

In [0]:
print('accuracy: {0}'.format(accuracy_score(test_y.data, predicted_y)))
print('precision: {0}'.format(precision_score(test_y.data, predicted_y, average='micro')))
print('recall: {0}'.format(recall_score(test_y.data, predicted_y, average = 'micro')))

accuracy: 0.9666666666666667
precision: 0.9666666666666667
recall: 0.9666666666666667

In [0]:
test_y.data

tensor([0, 2, 0, 2, 2, 2, 2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 2, 2, 1, 2, 1, 0, 1, 2,
        1, 0, 1, 0, 2, 1])

In [0]:
predicted_y

tensor([0, 2, 0, 2, 2, 2, 2, 1, 2, 2, 0, 0, 1, 2, 0, 1, 2, 2, 1, 2, 1, 0, 1, 2,
        1, 0, 1, 0, 2, 1])

In [0]:
x,y,z

(1, 2, 3)

In [0]:
?accuracy_score